#content-area {
  overflow: auto;
  width: 100%;
  background: black;
  min-height: 100vh;
}

#filter {
  background: $grey;
  width: 30%;
  max-width: 300px;
  display: inline-block;
  float: left;

  .inside {
    padding: 20px;
    max-width: 300px;
  }

  h4 {
    font-size: 0.9rem;
    margin-bottom: 25px;
    font-weight: 500px;
    text-transform: uppercase;
  }

  select {
    background: transparent;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #1b1b1b;
    display: block;
    margin-bottom: 25px;
    width: 100%;
  }

  .filters {
    .title {
      font-size: 0.9rem;
      display: block;
      margin-bottom: 1rem;
      color: $darkgrey;
    }

    input[type="text"] {
      border-radius: 5px;
      font-size: 1rem;
      padding: 0.4rem;
      width: 25%;
      display: inline-block;
      margin-right: 2.5%;
      margin-bottom: 1rem;
    }

    &.extras {
      label {
        display: block;
        width: 100%;
        padding: 10px 0;

        input[type="checkbox"] {
          float: right;
        }
      }
    }
  }
}

#listings {
  width: 70%;
  float: left;
  display: inline-block;
  padding: 15px;
  background: $offwhite;

  .search-area {
    input[type="text"] {
      width: 70%;
      background: transparent;
      font-size: 2rem;
      border: none;
      border-bottom: 2px solid $darkgrey;
      margin-bottom: 20px;
      font-weight: 100;
      color: $lightgrey;
    }
  }

  .sortby-area {
    margin-bottom: 20px;

    .results {
      color: $darkgrey;
      font-size: 0.8rem;
      display: inline-block;
    }

    .sort-options {
      float: right;

      select {
        font-size: 0.9rem;
        font-weight: 300;
        border: 1px solid $lightgrey;
        background: transparent;
        padding: 20px;
        display: inline-block;
        margin-right: 15px;
        vertical-align: top;
      }

      .view {
        display: inline-block;

        .fas {
          margin-right: 15px;
          font-size: 1.5rem;
        }
      }
    }
  }

  .listings-results {
    margin-bottom: 60px;

    .listing {
      background: #fff;
      width: 30%;
      border-radius: 5px;
      -webkit-box-shadow: 0 9px 54px -4px rgba(224,224,224,1);
      -moz-box-shadow: 0 9px 54px -4px rgba(224,224,224,1);
      box-shadow: 0 9px 54px -4px rgba(224,224,224,1);
      min-width: 216.2px;
      min-height: 314px;
      display: inline-block;
      margin: 1%;
    }

    .listing-img {
      color: white;
      padding: 15px;
      position: relative;
      background: url("http://homeworlddesign.com/wp-content/uploads/2016/04/San-Francisco-Modern-House-by-John-Maniscalco-Architecture-.jpg") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      min-height: 200px;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      // http://homeworlddesign.com/wp-content/uploads/2016/04/San-Francisco-Modern-House-by-John-Maniscalco-Architecture-.jpg    http://www.allconceptcreation.fr/wp-content/uploads/2015/11/1201-laurel-way33.jpg

      &:hover{
        .details{
          opacity: 1;
        }
        .address{
          opacity: 0
        }
      }
      .address{
        position: absolute;
        font-size: .8rem;
        bottom: 20px;
        opacity: 1;
        transition: all .5s ease-in-out;
      }

      .details{
        transition: all .5s ease-in-out;
        opacity: 0;
        padding: 30px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008cea+2,2989d8+50,207cca+51,b87eea+100 */
        background: rgb(140,234,.8); /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(0,140,234,.8) 2%, rgba(41,137,216,.8) 50%, rgba(32,124,202,.8) 51%, rgba(184,126,234,.8) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(0,140,234,.8) 2%,rgba(41,137,216,.8) 50%,rgba(32,124,202,.8) 51%,rgba(184,126,234,.8) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(0,140,234,.8) 2%,rgba(41,137,216,.8) 50%,rgba(32,124,202,.8) 51%,rgba(184,126,234,.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008cea', endColorstr='#b87eea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

        .user-image{
          width: 35px;
          height: 35px;
          border-radius: 50%;
          border: 2px solid white;
          display: inline-block;
          background: url("https://lh3.googleusercontent.com/-pThOaGMpiVM/U9wSmsA9fqI/AAAAAAAAAaQ/4gtRq6cXhwU/w530-h531-n/Maggie%2BAbreu.jpg") no-repeat center center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          //http://www.allconceptcreation.fr/wp-content/uploads/2015/11/1201-laurel-way33.jpg      http://memberphotos.naplesarea.com/n625816_Maggie_Professional.jpg_resize.jpg

        }
        .user-details{
          vertical-align: top;
          display: inline-block;


          .user-name{
            font-weight: 300;
            font-size: 1.2rem;
            color: rgba(255,255,255,1);
            display: block;
            margin-top: 3px;
            margin-bottom: 5px;
          }

          .post-date{
            font-size: 1.1rem;
            color: rgba(255,255,255,.7);
            display: block;
          }
        }

        .listing-details{
          margin-top: 20px;
          margin-bottom: 15px;

          .fas, .far {
            display: inline-block;
            font-size: 20px;
            margin-right: 15px;
            margin: 0px 15px 20px 0;
          }

          span{
            display: inline-block;
            font-size: 1rem;
            font-weight: 300;
            vertical-align: top;
            position: relative;
            top: 3px;
          }
          .floor-space {
            margin-bottom: 0px;
                margin-top: 25px;
          }
        }


      }
    }
    .bottom-info{
      padding: 20px 15px;

      .price{
        font-size: 1rem;
        display: block;
        color: $darkgrey;
        padding-bottom: 10px;
      }

      .location{
        font-size: 1.1rem;
        display: block;
        color: $lightgrey;
      }

    }
  }
}

.view-btn{
  background: black;
  padding: 8px;
  font-size: 0.9rem;
  border-radius: 5px;
  text-align: center;
  max-width: 150px;
  // margin-left: -25px;
  transition: background .3s ease-in-out;
  &:hover{
    background: $pink;
  }
  cursor: pointer;
}

.center{
  margin: 0 auto;
  text-align: center;
}

.col-md-3{
  width: 25%;
  display: inline-block;
  vertical-align: top;

}

.col-md-9{
  width: 75%;
  display: inline-block;
}

.col-md-12{
  width: 100%;
}
