@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "variables";
@import "reset";
@import "grid/grid12";

// .flex-container {
//   padding: 0;
//   margin: 0;
//   list-style: none;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

*,
body,
html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  // background: purple;
}


*,
body,
html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
img{
  object-fit: cover;
  // object-position: 0% 23%;
}
}
@import "listings";
@import "content-area";
